@using EntityLayer.Concrete
@model List<Vizyonumuz>
<div class="col-md-6" style="margin-bottom: 30px;">
    <div class="h-100 p-5 text-bg-dark rounded-3">
        @foreach(var x in Model)
        {
            
      
        <h3 key="11">@x.Title</h3>
        <p key="10">
           @x.Description
        </p>
        <button key="13" class="btn btn-outline-light" type="button">Görüntüle</button>
        }
    </div>
</div>
