
<div class="col-md-6" style="margin-bottom: 30px;">
    <div class="h-100 p-5 text-bg-dark rounded-3">
        <h3 key="11">Vizyonumuz</h3>
        <p key="10">
            En büyük ilkemiz; müşterinin vizyonuna uygun çözümler üretmek,müşteriyle
            sağlıklı, dürüst, hızlı iletişimler kurabilmektir. Çünkü müşterilerimizle
            ilişkilerimizi kısa vadede düşünmeyiz. Biz biliriz ki onlar ihtiyaçları
            olduğunda bizimle çalışmanın ne kadar güven verici olduğunu bilirler.
            Onlar bilirler ki biz her zaman onlar için daima en iyisini düşünürüz.
        </p>
        <button key="13" class="btn btn-outline-light" type="button">Görüntüle</button>
    </div>
</div>
