
<div class="slider" id="home">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <video autoplay loop muted width="1920px">
                    <source src="~/Marina_Website/Marina_Website-main/video.mp4" type="video/mp4">
                </video>
                <div class="carousel-caption">
                    <h5 key="6">KWM MARİN ELEKTRİK & ELEKTRONİK LİMİTED ŞİRKETİ</h5>
                    <p key="7">KWM Marin Elektrik & Elektronik Limited Şirketi Sayfasına Hoş Geldiniz!</p>
                    <p><a key="8" href="#" class="btn btn-primary mt-3">Daha fazla bilgi edinin..</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

