
<div class="col-12 col-md-12 col-lg-4">
    <div class="card text-white text-center bg-dark pd-2" style="height: 340px;">
        <div class="card-body">
            <i class="bi bi-life-preserver"></i>
            <h3 key="15">Deniz Malzemeleri</h3>
            <p key="19">
                West Marine; Yanmar, Fischer Panda, Volvo Penta, Williams, Kohler,
                Harken, Side Power, ABT Trac, Sea Recovery, Opacmare, Besenzoni,
                Finsulate ve Idromar gibi sektörün değerli markalarının yetkili servisidir.
            </p>
            <button key="13" class="btn btn-primary mb-3">Görüntüle</button>
        </div>
    </div>
</div>