
<div class="col-12 col-md-12 col-lg-4">
    <div class="card text-white text-center bg-dark pd-2" style="height: 340px;">
        <div class="card-body">
            <i class="bi bi-gear-fill"></i>
            <h3 key="14">Teknik Servis</h3>
            <p key="18">
                Tüm Motor ve Mekanik Servisleri; Genel Bakım ve Tamirleri,
                Elektrik ve Elektronik, Paslanmaz Krom İşçiliği, Su Yapıcı Servisi
                bünyemizde sağlanan servisler arasındadır.
            </p>
            <button key="13" class="btn btn-primary mb-3">Görüntüle</button>
        </div>
    </div>
</div>
