
<div class="col-12 col-md-12 col-lg-4">
    <div class="card text-white text-center bg-dark pd-2" style="height: 340px;">
        <div class="card-body">
            <i class="bi bi-tools"></i>
            <h3 key="16">Tekne Bakım Hizmeti</h3>
            <p key="20">
                Yedek parça Mağazamız, Servis Atölyemiz, Bot kışlama hangarımız
                ve servis araçlarımızla Fethiye Göcek Bölgesinde hizmet vermekteyiz.
            </p>
            <button key="13" class="btn btn-primary mb-3">Görüntüle</button>
        </div>
    </div>
</div>